@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
  --color-wood-light: #D4A373;
  --color-wood-medium: #bc8a5f;
  --color-wood-dark: #8B5E3C;
  --color-wood-darker: #5D4037;
  --color-pit-shadow: #3E2723;

  --animate-bounce-slight: bounce-slight 0.3s ease-in-out infinite;

  @keyframes bounce-slight {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-5%);
    }
  }
}


:root {
  background-color: #1a1a1a;
  color: rgba(255, 255, 255, 0.87);
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-height: 100vh;
  /* display: flex; */
  /* place-items: center; */
  /* justify-content: center; */
  background-color: #1a1a1a;
}

#root {
  width: 100%;
  min-height: 100vh;
}